DiamondShop/Web References/DiamondService/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://tempuri.org/dsMasterTableDetail.xsd" />
      <s:import schemaLocation="http://localhost:8888/DiamondService/Service1.asmx?schema=dsMasterTableDetail" namespace="http://tempuri.org/dsMasterTableDetail.xsd" />
      <s:element name="GetMasterTableDetail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TypeID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMasterTableDetailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMasterTableDetailResult">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="http://tempuri.org/dsMasterTableDetail.xsd" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DoSelectData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TableName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="mode" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DoSelectDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DoSelectDataResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DoInsertData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TableName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ds">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="1" maxOccurs="1" name="mode" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DoInsertDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DoInsertDataResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DoUpdateData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TableName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ds">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DoUpdateDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DoUpdateDataResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DoDeleteData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TableName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DoDeleteDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DoDeleteDataResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetMasterTableDetailSoapIn">
    <wsdl:part name="parameters" element="tns:GetMasterTableDetail" />
  </wsdl:message>
  <wsdl:message name="GetMasterTableDetailSoapOut">
    <wsdl:part name="parameters" element="tns:GetMasterTableDetailResponse" />
  </wsdl:message>
  <wsdl:message name="DoSelectDataSoapIn">
    <wsdl:part name="parameters" element="tns:DoSelectData" />
  </wsdl:message>
  <wsdl:message name="DoSelectDataSoapOut">
    <wsdl:part name="parameters" element="tns:DoSelectDataResponse" />
  </wsdl:message>
  <wsdl:message name="DoInsertDataSoapIn">
    <wsdl:part name="parameters" element="tns:DoInsertData" />
  </wsdl:message>
  <wsdl:message name="DoInsertDataSoapOut">
    <wsdl:part name="parameters" element="tns:DoInsertDataResponse" />
  </wsdl:message>
  <wsdl:message name="DoUpdateDataSoapIn">
    <wsdl:part name="parameters" element="tns:DoUpdateData" />
  </wsdl:message>
  <wsdl:message name="DoUpdateDataSoapOut">
    <wsdl:part name="parameters" element="tns:DoUpdateDataResponse" />
  </wsdl:message>
  <wsdl:message name="DoDeleteDataSoapIn">
    <wsdl:part name="parameters" element="tns:DoDeleteData" />
  </wsdl:message>
  <wsdl:message name="DoDeleteDataSoapOut">
    <wsdl:part name="parameters" element="tns:DoDeleteDataResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="GetMasterTableDetail">
      <wsdl:input message="tns:GetMasterTableDetailSoapIn" />
      <wsdl:output message="tns:GetMasterTableDetailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DoSelectData">
      <wsdl:input message="tns:DoSelectDataSoapIn" />
      <wsdl:output message="tns:DoSelectDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DoInsertData">
      <wsdl:input message="tns:DoInsertDataSoapIn" />
      <wsdl:output message="tns:DoInsertDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DoUpdateData">
      <wsdl:input message="tns:DoUpdateDataSoapIn" />
      <wsdl:output message="tns:DoUpdateDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DoDeleteData">
      <wsdl:input message="tns:DoDeleteDataSoapIn" />
      <wsdl:output message="tns:DoDeleteDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMasterTableDetail">
      <soap:operation soapAction="http://tempuri.org/GetMasterTableDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoSelectData">
      <soap:operation soapAction="http://tempuri.org/DoSelectData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoInsertData">
      <soap:operation soapAction="http://tempuri.org/DoInsertData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoUpdateData">
      <soap:operation soapAction="http://tempuri.org/DoUpdateData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoDeleteData">
      <soap:operation soapAction="http://tempuri.org/DoDeleteData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMasterTableDetail">
      <soap12:operation soapAction="http://tempuri.org/GetMasterTableDetail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoSelectData">
      <soap12:operation soapAction="http://tempuri.org/DoSelectData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoInsertData">
      <soap12:operation soapAction="http://tempuri.org/DoInsertData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoUpdateData">
      <soap12:operation soapAction="http://tempuri.org/DoUpdateData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoDeleteData">
      <soap12:operation soapAction="http://tempuri.org/DoDeleteData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://localhost:8888/DiamondService/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://localhost:8888/DiamondService/Service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>