DiamondShop/Web References/DiamondService1/Service2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://tempuri.org/dsUser.xsd" />
      <s:import namespace="http://tempuri.org/dsOrder.xsd" />
      <s:import namespace="http://tempuri.org/dsExpenseGroup.xsd" />
      <s:import schemaLocation="http://localhost:5555/DiamondService/Service2.asmx?schema=dsExpenseGroup" namespace="http://tempuri.org/dsExpenseGroup.xsd" />
      <s:import schemaLocation="http://localhost:5555/DiamondService/Service2.asmx?schema=dsUser" namespace="http://tempuri.org/dsUser.xsd" />
      <s:import schemaLocation="http://localhost:5555/DiamondService/Service2.asmx?schema=dsOrder" namespace="http://tempuri.org/dsOrder.xsd" />
      <s:element name="DoAuthenticate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Shop" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DoAuthenticateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DoAuthenticateResult">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="http://tempuri.org/dsUser.xsd" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSeller">
        <s:complexType />
      </s:element>
      <s:element name="GetSellerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSellerResult">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="http://tempuri.org/dsUser.xsd" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBuyer">
        <s:complexType />
      </s:element>
      <s:element name="GetBuyerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBuyerResult">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="http://tempuri.org/dsUser.xsd" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFactoryStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFactoryStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFactoryStatusResult">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="http://tempuri.org/dsOrder.xsd" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRunningNumber">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="subject" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRunningNumberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRunningNumberResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJewelryDetail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJewelryDetailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJewelryDetailResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateJewelryStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="status" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateJewelryStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateJewelryStatusResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateOrderStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Flag" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateOrderStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateOrderStatusResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPriceDaimondAndGemstone">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPriceDaimondAndGemstoneResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPriceDaimondAndGemstoneResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReportJewelry">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReportJewelryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetReportJewelryResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReportBuying">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TableName" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="SBuyDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="EBuyDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="SWeight" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="EWeight" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="Shape" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="SDueDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="EDueDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="IsPaid" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReportBuyingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetReportBuyingResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReportSelling">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="JewelryType" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Seller" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="SSellDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="ESellDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReportSellingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetReportSellingResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReportDebt">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TableName" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Seller" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="SDueDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="EDueDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReportDebtResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetReportDebtResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReportCustomer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SBirthDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="EBirthDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="SAnniDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="EAnniDate" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="DisplayName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReportCustomerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetReportCustomerResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReportInventory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="SImpDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="EImpDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="SPriceTag" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="EPricetag" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReportInventoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetReportInventoryResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReportOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReportOrderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetReportOrderResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReportCertificate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReportCertificateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetReportCertificateResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateMessageStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Flag" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateMessageStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateMessageStatusResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteDataReference">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="flag" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteDataReferenceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteDataReferenceResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateProductionLine">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="FactoryStatus" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="EditBy" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateProductionLineResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateProductionLineResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetExpenseGroup">
        <s:complexType />
      </s:element>
      <s:element name="GetExpenseGroupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetExpenseGroupResult">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="http://tempuri.org/dsExpenseGroup.xsd" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DoAuthenticateSoapIn">
    <wsdl:part name="parameters" element="tns:DoAuthenticate" />
  </wsdl:message>
  <wsdl:message name="DoAuthenticateSoapOut">
    <wsdl:part name="parameters" element="tns:DoAuthenticateResponse" />
  </wsdl:message>
  <wsdl:message name="GetSellerSoapIn">
    <wsdl:part name="parameters" element="tns:GetSeller" />
  </wsdl:message>
  <wsdl:message name="GetSellerSoapOut">
    <wsdl:part name="parameters" element="tns:GetSellerResponse" />
  </wsdl:message>
  <wsdl:message name="GetBuyerSoapIn">
    <wsdl:part name="parameters" element="tns:GetBuyer" />
  </wsdl:message>
  <wsdl:message name="GetBuyerSoapOut">
    <wsdl:part name="parameters" element="tns:GetBuyerResponse" />
  </wsdl:message>
  <wsdl:message name="GetFactoryStatusSoapIn">
    <wsdl:part name="parameters" element="tns:GetFactoryStatus" />
  </wsdl:message>
  <wsdl:message name="GetFactoryStatusSoapOut">
    <wsdl:part name="parameters" element="tns:GetFactoryStatusResponse" />
  </wsdl:message>
  <wsdl:message name="GetRunningNumberSoapIn">
    <wsdl:part name="parameters" element="tns:GetRunningNumber" />
  </wsdl:message>
  <wsdl:message name="GetRunningNumberSoapOut">
    <wsdl:part name="parameters" element="tns:GetRunningNumberResponse" />
  </wsdl:message>
  <wsdl:message name="GetJewelryDetailSoapIn">
    <wsdl:part name="parameters" element="tns:GetJewelryDetail" />
  </wsdl:message>
  <wsdl:message name="GetJewelryDetailSoapOut">
    <wsdl:part name="parameters" element="tns:GetJewelryDetailResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateJewelryStatusSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateJewelryStatus" />
  </wsdl:message>
  <wsdl:message name="UpdateJewelryStatusSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateJewelryStatusResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateOrderStatusSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateOrderStatus" />
  </wsdl:message>
  <wsdl:message name="UpdateOrderStatusSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateOrderStatusResponse" />
  </wsdl:message>
  <wsdl:message name="GetPriceDaimondAndGemstoneSoapIn">
    <wsdl:part name="parameters" element="tns:GetPriceDaimondAndGemstone" />
  </wsdl:message>
  <wsdl:message name="GetPriceDaimondAndGemstoneSoapOut">
    <wsdl:part name="parameters" element="tns:GetPriceDaimondAndGemstoneResponse" />
  </wsdl:message>
  <wsdl:message name="GetReportJewelrySoapIn">
    <wsdl:part name="parameters" element="tns:GetReportJewelry" />
  </wsdl:message>
  <wsdl:message name="GetReportJewelrySoapOut">
    <wsdl:part name="parameters" element="tns:GetReportJewelryResponse" />
  </wsdl:message>
  <wsdl:message name="GetReportBuyingSoapIn">
    <wsdl:part name="parameters" element="tns:GetReportBuying" />
  </wsdl:message>
  <wsdl:message name="GetReportBuyingSoapOut">
    <wsdl:part name="parameters" element="tns:GetReportBuyingResponse" />
  </wsdl:message>
  <wsdl:message name="GetReportSellingSoapIn">
    <wsdl:part name="parameters" element="tns:GetReportSelling" />
  </wsdl:message>
  <wsdl:message name="GetReportSellingSoapOut">
    <wsdl:part name="parameters" element="tns:GetReportSellingResponse" />
  </wsdl:message>
  <wsdl:message name="GetReportDebtSoapIn">
    <wsdl:part name="parameters" element="tns:GetReportDebt" />
  </wsdl:message>
  <wsdl:message name="GetReportDebtSoapOut">
    <wsdl:part name="parameters" element="tns:GetReportDebtResponse" />
  </wsdl:message>
  <wsdl:message name="GetReportCustomerSoapIn">
    <wsdl:part name="parameters" element="tns:GetReportCustomer" />
  </wsdl:message>
  <wsdl:message name="GetReportCustomerSoapOut">
    <wsdl:part name="parameters" element="tns:GetReportCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="GetReportInventorySoapIn">
    <wsdl:part name="parameters" element="tns:GetReportInventory" />
  </wsdl:message>
  <wsdl:message name="GetReportInventorySoapOut">
    <wsdl:part name="parameters" element="tns:GetReportInventoryResponse" />
  </wsdl:message>
  <wsdl:message name="GetReportOrderSoapIn">
    <wsdl:part name="parameters" element="tns:GetReportOrder" />
  </wsdl:message>
  <wsdl:message name="GetReportOrderSoapOut">
    <wsdl:part name="parameters" element="tns:GetReportOrderResponse" />
  </wsdl:message>
  <wsdl:message name="GetReportCertificateSoapIn">
    <wsdl:part name="parameters" element="tns:GetReportCertificate" />
  </wsdl:message>
  <wsdl:message name="GetReportCertificateSoapOut">
    <wsdl:part name="parameters" element="tns:GetReportCertificateResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateMessageStatusSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateMessageStatus" />
  </wsdl:message>
  <wsdl:message name="UpdateMessageStatusSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateMessageStatusResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteDataReferenceSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteDataReference" />
  </wsdl:message>
  <wsdl:message name="DeleteDataReferenceSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteDataReferenceResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateProductionLineSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateProductionLine" />
  </wsdl:message>
  <wsdl:message name="UpdateProductionLineSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateProductionLineResponse" />
  </wsdl:message>
  <wsdl:message name="GetExpenseGroupSoapIn">
    <wsdl:part name="parameters" element="tns:GetExpenseGroup" />
  </wsdl:message>
  <wsdl:message name="GetExpenseGroupSoapOut">
    <wsdl:part name="parameters" element="tns:GetExpenseGroupResponse" />
  </wsdl:message>
  <wsdl:portType name="Service2Soap">
    <wsdl:operation name="DoAuthenticate">
      <wsdl:input message="tns:DoAuthenticateSoapIn" />
      <wsdl:output message="tns:DoAuthenticateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSeller">
      <wsdl:input message="tns:GetSellerSoapIn" />
      <wsdl:output message="tns:GetSellerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBuyer">
      <wsdl:input message="tns:GetBuyerSoapIn" />
      <wsdl:output message="tns:GetBuyerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFactoryStatus">
      <wsdl:input message="tns:GetFactoryStatusSoapIn" />
      <wsdl:output message="tns:GetFactoryStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRunningNumber">
      <wsdl:input message="tns:GetRunningNumberSoapIn" />
      <wsdl:output message="tns:GetRunningNumberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJewelryDetail">
      <wsdl:input message="tns:GetJewelryDetailSoapIn" />
      <wsdl:output message="tns:GetJewelryDetailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateJewelryStatus">
      <wsdl:input message="tns:UpdateJewelryStatusSoapIn" />
      <wsdl:output message="tns:UpdateJewelryStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateOrderStatus">
      <wsdl:input message="tns:UpdateOrderStatusSoapIn" />
      <wsdl:output message="tns:UpdateOrderStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPriceDaimondAndGemstone">
      <wsdl:input message="tns:GetPriceDaimondAndGemstoneSoapIn" />
      <wsdl:output message="tns:GetPriceDaimondAndGemstoneSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetReportJewelry">
      <wsdl:input message="tns:GetReportJewelrySoapIn" />
      <wsdl:output message="tns:GetReportJewelrySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetReportBuying">
      <wsdl:input message="tns:GetReportBuyingSoapIn" />
      <wsdl:output message="tns:GetReportBuyingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetReportSelling">
      <wsdl:input message="tns:GetReportSellingSoapIn" />
      <wsdl:output message="tns:GetReportSellingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetReportDebt">
      <wsdl:input message="tns:GetReportDebtSoapIn" />
      <wsdl:output message="tns:GetReportDebtSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetReportCustomer">
      <wsdl:input message="tns:GetReportCustomerSoapIn" />
      <wsdl:output message="tns:GetReportCustomerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetReportInventory">
      <wsdl:input message="tns:GetReportInventorySoapIn" />
      <wsdl:output message="tns:GetReportInventorySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetReportOrder">
      <wsdl:input message="tns:GetReportOrderSoapIn" />
      <wsdl:output message="tns:GetReportOrderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetReportCertificate">
      <wsdl:input message="tns:GetReportCertificateSoapIn" />
      <wsdl:output message="tns:GetReportCertificateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMessageStatus">
      <wsdl:input message="tns:UpdateMessageStatusSoapIn" />
      <wsdl:output message="tns:UpdateMessageStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteDataReference">
      <wsdl:input message="tns:DeleteDataReferenceSoapIn" />
      <wsdl:output message="tns:DeleteDataReferenceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProductionLine">
      <wsdl:input message="tns:UpdateProductionLineSoapIn" />
      <wsdl:output message="tns:UpdateProductionLineSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetExpenseGroup">
      <wsdl:input message="tns:GetExpenseGroupSoapIn" />
      <wsdl:output message="tns:GetExpenseGroupSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service2Soap" type="tns:Service2Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoAuthenticate">
      <soap:operation soapAction="http://tempuri.org/DoAuthenticate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSeller">
      <soap:operation soapAction="http://tempuri.org/GetSeller" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBuyer">
      <soap:operation soapAction="http://tempuri.org/GetBuyer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFactoryStatus">
      <soap:operation soapAction="http://tempuri.org/GetFactoryStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRunningNumber">
      <soap:operation soapAction="http://tempuri.org/GetRunningNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJewelryDetail">
      <soap:operation soapAction="http://tempuri.org/GetJewelryDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateJewelryStatus">
      <soap:operation soapAction="http://tempuri.org/UpdateJewelryStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrderStatus">
      <soap:operation soapAction="http://tempuri.org/UpdateOrderStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPriceDaimondAndGemstone">
      <soap:operation soapAction="http://tempuri.org/GetPriceDaimondAndGemstone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReportJewelry">
      <soap:operation soapAction="http://tempuri.org/GetReportJewelry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReportBuying">
      <soap:operation soapAction="http://tempuri.org/GetReportBuying" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReportSelling">
      <soap:operation soapAction="http://tempuri.org/GetReportSelling" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReportDebt">
      <soap:operation soapAction="http://tempuri.org/GetReportDebt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReportCustomer">
      <soap:operation soapAction="http://tempuri.org/GetReportCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReportInventory">
      <soap:operation soapAction="http://tempuri.org/GetReportInventory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReportOrder">
      <soap:operation soapAction="http://tempuri.org/GetReportOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReportCertificate">
      <soap:operation soapAction="http://tempuri.org/GetReportCertificate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMessageStatus">
      <soap:operation soapAction="http://tempuri.org/UpdateMessageStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDataReference">
      <soap:operation soapAction="http://tempuri.org/DeleteDataReference" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProductionLine">
      <soap:operation soapAction="http://tempuri.org/UpdateProductionLine" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExpenseGroup">
      <soap:operation soapAction="http://tempuri.org/GetExpenseGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service2Soap12" type="tns:Service2Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoAuthenticate">
      <soap12:operation soapAction="http://tempuri.org/DoAuthenticate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSeller">
      <soap12:operation soapAction="http://tempuri.org/GetSeller" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBuyer">
      <soap12:operation soapAction="http://tempuri.org/GetBuyer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFactoryStatus">
      <soap12:operation soapAction="http://tempuri.org/GetFactoryStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRunningNumber">
      <soap12:operation soapAction="http://tempuri.org/GetRunningNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJewelryDetail">
      <soap12:operation soapAction="http://tempuri.org/GetJewelryDetail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateJewelryStatus">
      <soap12:operation soapAction="http://tempuri.org/UpdateJewelryStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrderStatus">
      <soap12:operation soapAction="http://tempuri.org/UpdateOrderStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPriceDaimondAndGemstone">
      <soap12:operation soapAction="http://tempuri.org/GetPriceDaimondAndGemstone" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReportJewelry">
      <soap12:operation soapAction="http://tempuri.org/GetReportJewelry" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReportBuying">
      <soap12:operation soapAction="http://tempuri.org/GetReportBuying" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReportSelling">
      <soap12:operation soapAction="http://tempuri.org/GetReportSelling" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReportDebt">
      <soap12:operation soapAction="http://tempuri.org/GetReportDebt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReportCustomer">
      <soap12:operation soapAction="http://tempuri.org/GetReportCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReportInventory">
      <soap12:operation soapAction="http://tempuri.org/GetReportInventory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReportOrder">
      <soap12:operation soapAction="http://tempuri.org/GetReportOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReportCertificate">
      <soap12:operation soapAction="http://tempuri.org/GetReportCertificate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMessageStatus">
      <soap12:operation soapAction="http://tempuri.org/UpdateMessageStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDataReference">
      <soap12:operation soapAction="http://tempuri.org/DeleteDataReference" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProductionLine">
      <soap12:operation soapAction="http://tempuri.org/UpdateProductionLine" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExpenseGroup">
      <soap12:operation soapAction="http://tempuri.org/GetExpenseGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service2">
    <wsdl:port name="Service2Soap" binding="tns:Service2Soap">
      <soap:address location="http://localhost:5555/DiamondService/Service2.asmx" />
    </wsdl:port>
    <wsdl:port name="Service2Soap12" binding="tns:Service2Soap12">
      <soap12:address location="http://localhost:5555/DiamondService/Service2.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>