DiamondShop/Web References/DiamondService1/Service2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://tempuri.org/dsUser.xsd" />
      <s:import namespace="http://tempuri.org/dsOrder.xsd" />
      <s:import namespace="http://tempuri.org/dsExpenseGroup.xsd" />
      <s:import namespace="http://tempuri.org/dsBuyBookSettingDetail.xsd" />
      <s:import schemaLocation="http://localhost:5555/DiamondService/Service2.asmx?schema=dsOrder" namespace="http://tempuri.org/dsOrder.xsd" />
      <s:import schemaLocation="http://localhost:5555/DiamondService/Service2.asmx?schema=dsUser" namespace="http://tempuri.org/dsUser.xsd" />
      <s:import schemaLocation="http://localhost:5555/DiamondService/Service2.asmx?schema=dsBuyBookSettingDetail" namespace="http://tempuri.org/dsBuyBookSettingDetail.xsd" />
      <s:import schemaLocation="http://localhost:5555/DiamondService/Service2.asmx?schema=dsExpenseGroup" namespace="http://tempuri.org/dsExpenseGroup.xsd" />
      <s:element name="DoAuthenticate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Shop" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DoAuthenticateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DoAuthenticateResult">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="http://tempuri.org/dsUser.xsd" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSeller">
        <s:complexType />
      </s:element>
      <s:element name="GetSellerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSellerResult">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="http://tempuri.org/dsUser.xsd" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBuyer">
        <s:complexType />
      </s:element>
      <s:element name="GetBuyerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBuyerResult">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="http://tempuri.org/dsUser.xsd" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFactoryStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFactoryStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFactoryStatusResult">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="http://tempuri.org/dsOrder.xsd" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRunningNumber">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="subject" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRunningNumberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRunningNumberResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJewelryDetail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJewelryDetailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJewelryDetailResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateJewelryStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="status" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="shop" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateJewelryStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateJewelryStatusResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateTransferReceive">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="eShop" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateTransferReceiveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateTransferReceiveResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateSellBookStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="status" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateSellBookStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateSellBookStatusResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPriceDaimondAndGemstone">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPriceDaimondAndGemstoneResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPriceDaimondAndGemstoneResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReportJewelry">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReportJewelryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetReportJewelryResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReportBuying">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TableName" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="SBuyDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="EBuyDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="SWeight" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="EWeight" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="Shape" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="SDueDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="EDueDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="IsPaid" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReportBuyingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetReportBuyingResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReportSelling">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="JewelryType" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Seller" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="SSellDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="ESellDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReportSellingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetReportSellingResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReportDebt">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TableName" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Seller" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="SDueDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="EDueDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReportDebtResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetReportDebtResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReportCustomer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SBirthDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="EBirthDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="SAnniDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="EAnniDate" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="DisplayName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReportCustomerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetReportCustomerResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReportInventory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="SImpDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="EImpDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="SPriceTag" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="EPricetag" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReportInventoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetReportInventoryResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReportOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReportOrderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetReportOrderResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReportReceiveDocument">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReportReceiveDocumentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetReportReceiveDocumentResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReportCertificate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="isPrintPrice" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReportCertificateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetReportCertificateResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDeliveryOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDeliveryOrderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDeliveryOrderResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateMessageStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="StatusType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Flag" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateMessageStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateMessageStatusResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateIsPrintPrice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="isPrintPrice" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateIsPrintPriceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateIsPrintPriceResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateIsPrintCer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateIsPrintCerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateIsPrintCerResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteDataReference">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="flag" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteDataReferenceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteDataReferenceResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateProductionLine">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="FactoryStatus" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="EditBy" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateProductionLineResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateProductionLineResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetExpenseGroup">
        <s:complexType />
      </s:element>
      <s:element name="GetExpenseGroupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetExpenseGroupResult">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="http://tempuri.org/dsExpenseGroup.xsd" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CountUnReadMessage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CountUnReadMessageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CountUnReadMessageResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DoSearchInventoryByCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DoSearchInventoryByCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DoSearchInventoryByCodeResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DoSearchOrderByCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DoSearchOrderByCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DoSearchOrderByCodeResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DoSearchSellByCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DoSearchSellByCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DoSearchSellByCodeResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DoSearchSellBookByCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DoSearchSellBookByCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DoSearchSellBookByCodeResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DoSearchBBSettingByCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DoSearchBBSettingByCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DoSearchBBSettingByCodeResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DoSearchBBSettingDetail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="mode" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DoSearchBBSettingDetailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DoSearchBBSettingDetailResult">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="http://tempuri.org/dsBuyBookSettingDetail.xsd" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DoSearchJewelryByCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DoSearchJewelryByCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DoSearchJewelryByCodeResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSellBookDetail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="idSelected" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="buyBookType" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSellBookDetailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSellBookDetailResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCertificate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="mode" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCertificateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCertificateResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DoAuthenticateSoapIn">
    <wsdl:part name="parameters" element="tns:DoAuthenticate" />
  </wsdl:message>
  <wsdl:message name="DoAuthenticateSoapOut">
    <wsdl:part name="parameters" element="tns:DoAuthenticateResponse" />
  </wsdl:message>
  <wsdl:message name="GetSellerSoapIn">
    <wsdl:part name="parameters" element="tns:GetSeller" />
  </wsdl:message>
  <wsdl:message name="GetSellerSoapOut">
    <wsdl:part name="parameters" element="tns:GetSellerResponse" />
  </wsdl:message>
  <wsdl:message name="GetBuyerSoapIn">
    <wsdl:part name="parameters" element="tns:GetBuyer" />
  </wsdl:message>
  <wsdl:message name="GetBuyerSoapOut">
    <wsdl:part name="parameters" element="tns:GetBuyerResponse" />
  </wsdl:message>
  <wsdl:message name="GetFactoryStatusSoapIn">
    <wsdl:part name="parameters" element="tns:GetFactoryStatus" />
  </wsdl:message>
  <wsdl:message name="GetFactoryStatusSoapOut">
    <wsdl:part name="parameters" element="tns:GetFactoryStatusResponse" />
  </wsdl:message>
  <wsdl:message name="GetRunningNumberSoapIn">
    <wsdl:part name="parameters" element="tns:GetRunningNumber" />
  </wsdl:message>
  <wsdl:message name="GetRunningNumberSoapOut">
    <wsdl:part name="parameters" element="tns:GetRunningNumberResponse" />
  </wsdl:message>
  <wsdl:message name="GetJewelryDetailSoapIn">
    <wsdl:part name="parameters" element="tns:GetJewelryDetail" />
  </wsdl:message>
  <wsdl:message name="GetJewelryDetailSoapOut">
    <wsdl:part name="parameters" element="tns:GetJewelryDetailResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateJewelryStatusSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateJewelryStatus" />
  </wsdl:message>
  <wsdl:message name="UpdateJewelryStatusSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateJewelryStatusResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateTransferReceiveSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateTransferReceive" />
  </wsdl:message>
  <wsdl:message name="UpdateTransferReceiveSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateTransferReceiveResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateSellBookStatusSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateSellBookStatus" />
  </wsdl:message>
  <wsdl:message name="UpdateSellBookStatusSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateSellBookStatusResponse" />
  </wsdl:message>
  <wsdl:message name="GetPriceDaimondAndGemstoneSoapIn">
    <wsdl:part name="parameters" element="tns:GetPriceDaimondAndGemstone" />
  </wsdl:message>
  <wsdl:message name="GetPriceDaimondAndGemstoneSoapOut">
    <wsdl:part name="parameters" element="tns:GetPriceDaimondAndGemstoneResponse" />
  </wsdl:message>
  <wsdl:message name="GetReportJewelrySoapIn">
    <wsdl:part name="parameters" element="tns:GetReportJewelry" />
  </wsdl:message>
  <wsdl:message name="GetReportJewelrySoapOut">
    <wsdl:part name="parameters" element="tns:GetReportJewelryResponse" />
  </wsdl:message>
  <wsdl:message name="GetReportBuyingSoapIn">
    <wsdl:part name="parameters" element="tns:GetReportBuying" />
  </wsdl:message>
  <wsdl:message name="GetReportBuyingSoapOut">
    <wsdl:part name="parameters" element="tns:GetReportBuyingResponse" />
  </wsdl:message>
  <wsdl:message name="GetReportSellingSoapIn">
    <wsdl:part name="parameters" element="tns:GetReportSelling" />
  </wsdl:message>
  <wsdl:message name="GetReportSellingSoapOut">
    <wsdl:part name="parameters" element="tns:GetReportSellingResponse" />
  </wsdl:message>
  <wsdl:message name="GetReportDebtSoapIn">
    <wsdl:part name="parameters" element="tns:GetReportDebt" />
  </wsdl:message>
  <wsdl:message name="GetReportDebtSoapOut">
    <wsdl:part name="parameters" element="tns:GetReportDebtResponse" />
  </wsdl:message>
  <wsdl:message name="GetReportCustomerSoapIn">
    <wsdl:part name="parameters" element="tns:GetReportCustomer" />
  </wsdl:message>
  <wsdl:message name="GetReportCustomerSoapOut">
    <wsdl:part name="parameters" element="tns:GetReportCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="GetReportInventorySoapIn">
    <wsdl:part name="parameters" element="tns:GetReportInventory" />
  </wsdl:message>
  <wsdl:message name="GetReportInventorySoapOut">
    <wsdl:part name="parameters" element="tns:GetReportInventoryResponse" />
  </wsdl:message>
  <wsdl:message name="GetReportOrderSoapIn">
    <wsdl:part name="parameters" element="tns:GetReportOrder" />
  </wsdl:message>
  <wsdl:message name="GetReportOrderSoapOut">
    <wsdl:part name="parameters" element="tns:GetReportOrderResponse" />
  </wsdl:message>
  <wsdl:message name="GetReportReceiveDocumentSoapIn">
    <wsdl:part name="parameters" element="tns:GetReportReceiveDocument" />
  </wsdl:message>
  <wsdl:message name="GetReportReceiveDocumentSoapOut">
    <wsdl:part name="parameters" element="tns:GetReportReceiveDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="GetReportCertificateSoapIn">
    <wsdl:part name="parameters" element="tns:GetReportCertificate" />
  </wsdl:message>
  <wsdl:message name="GetReportCertificateSoapOut">
    <wsdl:part name="parameters" element="tns:GetReportCertificateResponse" />
  </wsdl:message>
  <wsdl:message name="GetDeliveryOrderSoapIn">
    <wsdl:part name="parameters" element="tns:GetDeliveryOrder" />
  </wsdl:message>
  <wsdl:message name="GetDeliveryOrderSoapOut">
    <wsdl:part name="parameters" element="tns:GetDeliveryOrderResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateMessageStatusSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateMessageStatus" />
  </wsdl:message>
  <wsdl:message name="UpdateMessageStatusSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateMessageStatusResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateIsPrintPriceSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateIsPrintPrice" />
  </wsdl:message>
  <wsdl:message name="UpdateIsPrintPriceSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateIsPrintPriceResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateIsPrintCerSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateIsPrintCer" />
  </wsdl:message>
  <wsdl:message name="UpdateIsPrintCerSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateIsPrintCerResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteDataReferenceSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteDataReference" />
  </wsdl:message>
  <wsdl:message name="DeleteDataReferenceSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteDataReferenceResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateProductionLineSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateProductionLine" />
  </wsdl:message>
  <wsdl:message name="UpdateProductionLineSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateProductionLineResponse" />
  </wsdl:message>
  <wsdl:message name="GetExpenseGroupSoapIn">
    <wsdl:part name="parameters" element="tns:GetExpenseGroup" />
  </wsdl:message>
  <wsdl:message name="GetExpenseGroupSoapOut">
    <wsdl:part name="parameters" element="tns:GetExpenseGroupResponse" />
  </wsdl:message>
  <wsdl:message name="CountUnReadMessageSoapIn">
    <wsdl:part name="parameters" element="tns:CountUnReadMessage" />
  </wsdl:message>
  <wsdl:message name="CountUnReadMessageSoapOut">
    <wsdl:part name="parameters" element="tns:CountUnReadMessageResponse" />
  </wsdl:message>
  <wsdl:message name="DoSearchInventoryByCodeSoapIn">
    <wsdl:part name="parameters" element="tns:DoSearchInventoryByCode" />
  </wsdl:message>
  <wsdl:message name="DoSearchInventoryByCodeSoapOut">
    <wsdl:part name="parameters" element="tns:DoSearchInventoryByCodeResponse" />
  </wsdl:message>
  <wsdl:message name="DoSearchOrderByCodeSoapIn">
    <wsdl:part name="parameters" element="tns:DoSearchOrderByCode" />
  </wsdl:message>
  <wsdl:message name="DoSearchOrderByCodeSoapOut">
    <wsdl:part name="parameters" element="tns:DoSearchOrderByCodeResponse" />
  </wsdl:message>
  <wsdl:message name="DoSearchSellByCodeSoapIn">
    <wsdl:part name="parameters" element="tns:DoSearchSellByCode" />
  </wsdl:message>
  <wsdl:message name="DoSearchSellByCodeSoapOut">
    <wsdl:part name="parameters" element="tns:DoSearchSellByCodeResponse" />
  </wsdl:message>
  <wsdl:message name="DoSearchSellBookByCodeSoapIn">
    <wsdl:part name="parameters" element="tns:DoSearchSellBookByCode" />
  </wsdl:message>
  <wsdl:message name="DoSearchSellBookByCodeSoapOut">
    <wsdl:part name="parameters" element="tns:DoSearchSellBookByCodeResponse" />
  </wsdl:message>
  <wsdl:message name="DoSearchBBSettingByCodeSoapIn">
    <wsdl:part name="parameters" element="tns:DoSearchBBSettingByCode" />
  </wsdl:message>
  <wsdl:message name="DoSearchBBSettingByCodeSoapOut">
    <wsdl:part name="parameters" element="tns:DoSearchBBSettingByCodeResponse" />
  </wsdl:message>
  <wsdl:message name="DoSearchBBSettingDetailSoapIn">
    <wsdl:part name="parameters" element="tns:DoSearchBBSettingDetail" />
  </wsdl:message>
  <wsdl:message name="DoSearchBBSettingDetailSoapOut">
    <wsdl:part name="parameters" element="tns:DoSearchBBSettingDetailResponse" />
  </wsdl:message>
  <wsdl:message name="DoSearchJewelryByCodeSoapIn">
    <wsdl:part name="parameters" element="tns:DoSearchJewelryByCode" />
  </wsdl:message>
  <wsdl:message name="DoSearchJewelryByCodeSoapOut">
    <wsdl:part name="parameters" element="tns:DoSearchJewelryByCodeResponse" />
  </wsdl:message>
  <wsdl:message name="GetSellBookDetailSoapIn">
    <wsdl:part name="parameters" element="tns:GetSellBookDetail" />
  </wsdl:message>
  <wsdl:message name="GetSellBookDetailSoapOut">
    <wsdl:part name="parameters" element="tns:GetSellBookDetailResponse" />
  </wsdl:message>
  <wsdl:message name="GetCertificateSoapIn">
    <wsdl:part name="parameters" element="tns:GetCertificate" />
  </wsdl:message>
  <wsdl:message name="GetCertificateSoapOut">
    <wsdl:part name="parameters" element="tns:GetCertificateResponse" />
  </wsdl:message>
  <wsdl:portType name="Service2Soap">
    <wsdl:operation name="DoAuthenticate">
      <wsdl:input message="tns:DoAuthenticateSoapIn" />
      <wsdl:output message="tns:DoAuthenticateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSeller">
      <wsdl:input message="tns:GetSellerSoapIn" />
      <wsdl:output message="tns:GetSellerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBuyer">
      <wsdl:input message="tns:GetBuyerSoapIn" />
      <wsdl:output message="tns:GetBuyerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFactoryStatus">
      <wsdl:input message="tns:GetFactoryStatusSoapIn" />
      <wsdl:output message="tns:GetFactoryStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRunningNumber">
      <wsdl:input message="tns:GetRunningNumberSoapIn" />
      <wsdl:output message="tns:GetRunningNumberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJewelryDetail">
      <wsdl:input message="tns:GetJewelryDetailSoapIn" />
      <wsdl:output message="tns:GetJewelryDetailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateJewelryStatus">
      <wsdl:input message="tns:UpdateJewelryStatusSoapIn" />
      <wsdl:output message="tns:UpdateJewelryStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTransferReceive">
      <wsdl:input message="tns:UpdateTransferReceiveSoapIn" />
      <wsdl:output message="tns:UpdateTransferReceiveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSellBookStatus">
      <wsdl:input message="tns:UpdateSellBookStatusSoapIn" />
      <wsdl:output message="tns:UpdateSellBookStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPriceDaimondAndGemstone">
      <wsdl:input message="tns:GetPriceDaimondAndGemstoneSoapIn" />
      <wsdl:output message="tns:GetPriceDaimondAndGemstoneSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetReportJewelry">
      <wsdl:input message="tns:GetReportJewelrySoapIn" />
      <wsdl:output message="tns:GetReportJewelrySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetReportBuying">
      <wsdl:input message="tns:GetReportBuyingSoapIn" />
      <wsdl:output message="tns:GetReportBuyingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetReportSelling">
      <wsdl:input message="tns:GetReportSellingSoapIn" />
      <wsdl:output message="tns:GetReportSellingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetReportDebt">
      <wsdl:input message="tns:GetReportDebtSoapIn" />
      <wsdl:output message="tns:GetReportDebtSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetReportCustomer">
      <wsdl:input message="tns:GetReportCustomerSoapIn" />
      <wsdl:output message="tns:GetReportCustomerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetReportInventory">
      <wsdl:input message="tns:GetReportInventorySoapIn" />
      <wsdl:output message="tns:GetReportInventorySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetReportOrder">
      <wsdl:input message="tns:GetReportOrderSoapIn" />
      <wsdl:output message="tns:GetReportOrderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetReportReceiveDocument">
      <wsdl:input message="tns:GetReportReceiveDocumentSoapIn" />
      <wsdl:output message="tns:GetReportReceiveDocumentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetReportCertificate">
      <wsdl:input message="tns:GetReportCertificateSoapIn" />
      <wsdl:output message="tns:GetReportCertificateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDeliveryOrder">
      <wsdl:input message="tns:GetDeliveryOrderSoapIn" />
      <wsdl:output message="tns:GetDeliveryOrderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMessageStatus">
      <wsdl:input message="tns:UpdateMessageStatusSoapIn" />
      <wsdl:output message="tns:UpdateMessageStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateIsPrintPrice">
      <wsdl:input message="tns:UpdateIsPrintPriceSoapIn" />
      <wsdl:output message="tns:UpdateIsPrintPriceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateIsPrintCer">
      <wsdl:input message="tns:UpdateIsPrintCerSoapIn" />
      <wsdl:output message="tns:UpdateIsPrintCerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteDataReference">
      <wsdl:input message="tns:DeleteDataReferenceSoapIn" />
      <wsdl:output message="tns:DeleteDataReferenceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProductionLine">
      <wsdl:input message="tns:UpdateProductionLineSoapIn" />
      <wsdl:output message="tns:UpdateProductionLineSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetExpenseGroup">
      <wsdl:input message="tns:GetExpenseGroupSoapIn" />
      <wsdl:output message="tns:GetExpenseGroupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CountUnReadMessage">
      <wsdl:input message="tns:CountUnReadMessageSoapIn" />
      <wsdl:output message="tns:CountUnReadMessageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DoSearchInventoryByCode">
      <wsdl:input message="tns:DoSearchInventoryByCodeSoapIn" />
      <wsdl:output message="tns:DoSearchInventoryByCodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DoSearchOrderByCode">
      <wsdl:input message="tns:DoSearchOrderByCodeSoapIn" />
      <wsdl:output message="tns:DoSearchOrderByCodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DoSearchSellByCode">
      <wsdl:input message="tns:DoSearchSellByCodeSoapIn" />
      <wsdl:output message="tns:DoSearchSellByCodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DoSearchSellBookByCode">
      <wsdl:input message="tns:DoSearchSellBookByCodeSoapIn" />
      <wsdl:output message="tns:DoSearchSellBookByCodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DoSearchBBSettingByCode">
      <wsdl:input message="tns:DoSearchBBSettingByCodeSoapIn" />
      <wsdl:output message="tns:DoSearchBBSettingByCodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DoSearchBBSettingDetail">
      <wsdl:input message="tns:DoSearchBBSettingDetailSoapIn" />
      <wsdl:output message="tns:DoSearchBBSettingDetailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DoSearchJewelryByCode">
      <wsdl:input message="tns:DoSearchJewelryByCodeSoapIn" />
      <wsdl:output message="tns:DoSearchJewelryByCodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSellBookDetail">
      <wsdl:input message="tns:GetSellBookDetailSoapIn" />
      <wsdl:output message="tns:GetSellBookDetailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCertificate">
      <wsdl:input message="tns:GetCertificateSoapIn" />
      <wsdl:output message="tns:GetCertificateSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service2Soap" type="tns:Service2Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoAuthenticate">
      <soap:operation soapAction="http://tempuri.org/DoAuthenticate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSeller">
      <soap:operation soapAction="http://tempuri.org/GetSeller" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBuyer">
      <soap:operation soapAction="http://tempuri.org/GetBuyer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFactoryStatus">
      <soap:operation soapAction="http://tempuri.org/GetFactoryStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRunningNumber">
      <soap:operation soapAction="http://tempuri.org/GetRunningNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJewelryDetail">
      <soap:operation soapAction="http://tempuri.org/GetJewelryDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateJewelryStatus">
      <soap:operation soapAction="http://tempuri.org/UpdateJewelryStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTransferReceive">
      <soap:operation soapAction="http://tempuri.org/UpdateTransferReceive" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSellBookStatus">
      <soap:operation soapAction="http://tempuri.org/UpdateSellBookStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPriceDaimondAndGemstone">
      <soap:operation soapAction="http://tempuri.org/GetPriceDaimondAndGemstone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReportJewelry">
      <soap:operation soapAction="http://tempuri.org/GetReportJewelry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReportBuying">
      <soap:operation soapAction="http://tempuri.org/GetReportBuying" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReportSelling">
      <soap:operation soapAction="http://tempuri.org/GetReportSelling" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReportDebt">
      <soap:operation soapAction="http://tempuri.org/GetReportDebt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReportCustomer">
      <soap:operation soapAction="http://tempuri.org/GetReportCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReportInventory">
      <soap:operation soapAction="http://tempuri.org/GetReportInventory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReportOrder">
      <soap:operation soapAction="http://tempuri.org/GetReportOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReportReceiveDocument">
      <soap:operation soapAction="http://tempuri.org/GetReportReceiveDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReportCertificate">
      <soap:operation soapAction="http://tempuri.org/GetReportCertificate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeliveryOrder">
      <soap:operation soapAction="http://tempuri.org/GetDeliveryOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMessageStatus">
      <soap:operation soapAction="http://tempuri.org/UpdateMessageStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateIsPrintPrice">
      <soap:operation soapAction="http://tempuri.org/UpdateIsPrintPrice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateIsPrintCer">
      <soap:operation soapAction="http://tempuri.org/UpdateIsPrintCer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDataReference">
      <soap:operation soapAction="http://tempuri.org/DeleteDataReference" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProductionLine">
      <soap:operation soapAction="http://tempuri.org/UpdateProductionLine" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExpenseGroup">
      <soap:operation soapAction="http://tempuri.org/GetExpenseGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CountUnReadMessage">
      <soap:operation soapAction="http://tempuri.org/CountUnReadMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoSearchInventoryByCode">
      <soap:operation soapAction="http://tempuri.org/DoSearchInventoryByCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoSearchOrderByCode">
      <soap:operation soapAction="http://tempuri.org/DoSearchOrderByCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoSearchSellByCode">
      <soap:operation soapAction="http://tempuri.org/DoSearchSellByCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoSearchSellBookByCode">
      <soap:operation soapAction="http://tempuri.org/DoSearchSellBookByCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoSearchBBSettingByCode">
      <soap:operation soapAction="http://tempuri.org/DoSearchBBSettingByCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoSearchBBSettingDetail">
      <soap:operation soapAction="http://tempuri.org/DoSearchBBSettingDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoSearchJewelryByCode">
      <soap:operation soapAction="http://tempuri.org/DoSearchJewelryByCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSellBookDetail">
      <soap:operation soapAction="http://tempuri.org/GetSellBookDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCertificate">
      <soap:operation soapAction="http://tempuri.org/GetCertificate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service2Soap12" type="tns:Service2Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoAuthenticate">
      <soap12:operation soapAction="http://tempuri.org/DoAuthenticate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSeller">
      <soap12:operation soapAction="http://tempuri.org/GetSeller" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBuyer">
      <soap12:operation soapAction="http://tempuri.org/GetBuyer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFactoryStatus">
      <soap12:operation soapAction="http://tempuri.org/GetFactoryStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRunningNumber">
      <soap12:operation soapAction="http://tempuri.org/GetRunningNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJewelryDetail">
      <soap12:operation soapAction="http://tempuri.org/GetJewelryDetail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateJewelryStatus">
      <soap12:operation soapAction="http://tempuri.org/UpdateJewelryStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTransferReceive">
      <soap12:operation soapAction="http://tempuri.org/UpdateTransferReceive" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSellBookStatus">
      <soap12:operation soapAction="http://tempuri.org/UpdateSellBookStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPriceDaimondAndGemstone">
      <soap12:operation soapAction="http://tempuri.org/GetPriceDaimondAndGemstone" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReportJewelry">
      <soap12:operation soapAction="http://tempuri.org/GetReportJewelry" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReportBuying">
      <soap12:operation soapAction="http://tempuri.org/GetReportBuying" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReportSelling">
      <soap12:operation soapAction="http://tempuri.org/GetReportSelling" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReportDebt">
      <soap12:operation soapAction="http://tempuri.org/GetReportDebt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReportCustomer">
      <soap12:operation soapAction="http://tempuri.org/GetReportCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReportInventory">
      <soap12:operation soapAction="http://tempuri.org/GetReportInventory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReportOrder">
      <soap12:operation soapAction="http://tempuri.org/GetReportOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReportReceiveDocument">
      <soap12:operation soapAction="http://tempuri.org/GetReportReceiveDocument" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReportCertificate">
      <soap12:operation soapAction="http://tempuri.org/GetReportCertificate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeliveryOrder">
      <soap12:operation soapAction="http://tempuri.org/GetDeliveryOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMessageStatus">
      <soap12:operation soapAction="http://tempuri.org/UpdateMessageStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateIsPrintPrice">
      <soap12:operation soapAction="http://tempuri.org/UpdateIsPrintPrice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateIsPrintCer">
      <soap12:operation soapAction="http://tempuri.org/UpdateIsPrintCer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDataReference">
      <soap12:operation soapAction="http://tempuri.org/DeleteDataReference" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProductionLine">
      <soap12:operation soapAction="http://tempuri.org/UpdateProductionLine" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExpenseGroup">
      <soap12:operation soapAction="http://tempuri.org/GetExpenseGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CountUnReadMessage">
      <soap12:operation soapAction="http://tempuri.org/CountUnReadMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoSearchInventoryByCode">
      <soap12:operation soapAction="http://tempuri.org/DoSearchInventoryByCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoSearchOrderByCode">
      <soap12:operation soapAction="http://tempuri.org/DoSearchOrderByCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoSearchSellByCode">
      <soap12:operation soapAction="http://tempuri.org/DoSearchSellByCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoSearchSellBookByCode">
      <soap12:operation soapAction="http://tempuri.org/DoSearchSellBookByCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoSearchBBSettingByCode">
      <soap12:operation soapAction="http://tempuri.org/DoSearchBBSettingByCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoSearchBBSettingDetail">
      <soap12:operation soapAction="http://tempuri.org/DoSearchBBSettingDetail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoSearchJewelryByCode">
      <soap12:operation soapAction="http://tempuri.org/DoSearchJewelryByCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSellBookDetail">
      <soap12:operation soapAction="http://tempuri.org/GetSellBookDetail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCertificate">
      <soap12:operation soapAction="http://tempuri.org/GetCertificate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service2">
    <wsdl:port name="Service2Soap" binding="tns:Service2Soap">
      <soap:address location="http://localhost:5555/DiamondService/Service2.asmx" />
    </wsdl:port>
    <wsdl:port name="Service2Soap12" binding="tns:Service2Soap12">
      <soap12:address location="http://localhost:5555/DiamondService/Service2.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>