DiamondShop/Web References/DiamondService1/Service2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://tempuri.org/dsUser.xsd" />
      <s:import namespace="http://tempuri.org/dsSeller.xsd" />
      <s:import schemaLocation="http://localhost:7777/DiamondService/Service2.asmx?schema=dsSeller" namespace="http://tempuri.org/dsSeller.xsd" />
      <s:import schemaLocation="http://localhost:7777/DiamondService/Service2.asmx?schema=dsUser" namespace="http://tempuri.org/dsUser.xsd" />
      <s:element name="DoAuthenticate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="type" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DoAuthenticateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DoAuthenticateResult">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="http://tempuri.org/dsUser.xsd" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSellerName">
        <s:complexType />
      </s:element>
      <s:element name="GetSellerNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSellerNameResult">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="http://tempuri.org/dsSeller.xsd" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DoAuthenticateSoapIn">
    <wsdl:part name="parameters" element="tns:DoAuthenticate" />
  </wsdl:message>
  <wsdl:message name="DoAuthenticateSoapOut">
    <wsdl:part name="parameters" element="tns:DoAuthenticateResponse" />
  </wsdl:message>
  <wsdl:message name="GetSellerNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetSellerName" />
  </wsdl:message>
  <wsdl:message name="GetSellerNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetSellerNameResponse" />
  </wsdl:message>
  <wsdl:portType name="Service2Soap">
    <wsdl:operation name="DoAuthenticate">
      <wsdl:input message="tns:DoAuthenticateSoapIn" />
      <wsdl:output message="tns:DoAuthenticateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSellerName">
      <wsdl:input message="tns:GetSellerNameSoapIn" />
      <wsdl:output message="tns:GetSellerNameSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service2Soap" type="tns:Service2Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoAuthenticate">
      <soap:operation soapAction="http://tempuri.org/DoAuthenticate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSellerName">
      <soap:operation soapAction="http://tempuri.org/GetSellerName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service2Soap12" type="tns:Service2Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoAuthenticate">
      <soap12:operation soapAction="http://tempuri.org/DoAuthenticate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSellerName">
      <soap12:operation soapAction="http://tempuri.org/GetSellerName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service2">
    <wsdl:port name="Service2Soap" binding="tns:Service2Soap">
      <soap:address location="http://localhost:7777/DiamondService/Service2.asmx" />
    </wsdl:port>
    <wsdl:port name="Service2Soap12" binding="tns:Service2Soap12">
      <soap12:address location="http://localhost:7777/DiamondService/Service2.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>