DiamondShop/Web References/DiamondService2/Service3.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="DoSearchCustomer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="search" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="shop" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DoSearchCustomerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DoSearchCustomerResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DoSearchUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="search" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="shop" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DoSearchUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DoSearchUserResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DoSearchSeller">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="search" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="shop" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DoSearchSellerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DoSearchSellerResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DoSearchBuyBookDiamondCer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="reportNumber" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="shape" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="lab" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="sWeight" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="eWeight" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="colorType" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="sColor" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="eColor" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="sClearity" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="eClearity" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="status" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="shop" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DoSearchBuyBookDiamondCerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DoSearchBuyBookDiamondCerResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DoSearchGemstoneCer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sweight" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="eweight" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="shape" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="origin" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="companyCer" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="gemstoneType" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DoSearchGemstoneCerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DoSearchGemstoneCerResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DoSearchBuyBookDiamond">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sSize" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="eSize" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="colorGrade" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="color" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="clarity" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DoSearchBuyBookDiamondResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DoSearchBuyBookDiamondResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DoSearchBuyBookGemstone">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="gemstoneType" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="status" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="sSize" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="eSize" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DoSearchBuyBookGemstoneResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DoSearchBuyBookGemstoneResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DoSearchBuyBookGold">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sSize" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="eSize" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="status" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DoSearchBuyBookGoldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DoSearchBuyBookGoldResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DoSearchBuyBookSpecial">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="search" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DoSearchBuyBookSpecialResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DoSearchBuyBookSpecialResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DoSearchProduct">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="shop" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="status" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="jewelryType" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DoSearchProductResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DoSearchProductResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DoSearchCustomerSoapIn">
    <wsdl:part name="parameters" element="tns:DoSearchCustomer" />
  </wsdl:message>
  <wsdl:message name="DoSearchCustomerSoapOut">
    <wsdl:part name="parameters" element="tns:DoSearchCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="DoSearchUserSoapIn">
    <wsdl:part name="parameters" element="tns:DoSearchUser" />
  </wsdl:message>
  <wsdl:message name="DoSearchUserSoapOut">
    <wsdl:part name="parameters" element="tns:DoSearchUserResponse" />
  </wsdl:message>
  <wsdl:message name="DoSearchSellerSoapIn">
    <wsdl:part name="parameters" element="tns:DoSearchSeller" />
  </wsdl:message>
  <wsdl:message name="DoSearchSellerSoapOut">
    <wsdl:part name="parameters" element="tns:DoSearchSellerResponse" />
  </wsdl:message>
  <wsdl:message name="DoSearchBuyBookDiamondCerSoapIn">
    <wsdl:part name="parameters" element="tns:DoSearchBuyBookDiamondCer" />
  </wsdl:message>
  <wsdl:message name="DoSearchBuyBookDiamondCerSoapOut">
    <wsdl:part name="parameters" element="tns:DoSearchBuyBookDiamondCerResponse" />
  </wsdl:message>
  <wsdl:message name="DoSearchGemstoneCerSoapIn">
    <wsdl:part name="parameters" element="tns:DoSearchGemstoneCer" />
  </wsdl:message>
  <wsdl:message name="DoSearchGemstoneCerSoapOut">
    <wsdl:part name="parameters" element="tns:DoSearchGemstoneCerResponse" />
  </wsdl:message>
  <wsdl:message name="DoSearchBuyBookDiamondSoapIn">
    <wsdl:part name="parameters" element="tns:DoSearchBuyBookDiamond" />
  </wsdl:message>
  <wsdl:message name="DoSearchBuyBookDiamondSoapOut">
    <wsdl:part name="parameters" element="tns:DoSearchBuyBookDiamondResponse" />
  </wsdl:message>
  <wsdl:message name="DoSearchBuyBookGemstoneSoapIn">
    <wsdl:part name="parameters" element="tns:DoSearchBuyBookGemstone" />
  </wsdl:message>
  <wsdl:message name="DoSearchBuyBookGemstoneSoapOut">
    <wsdl:part name="parameters" element="tns:DoSearchBuyBookGemstoneResponse" />
  </wsdl:message>
  <wsdl:message name="DoSearchBuyBookGoldSoapIn">
    <wsdl:part name="parameters" element="tns:DoSearchBuyBookGold" />
  </wsdl:message>
  <wsdl:message name="DoSearchBuyBookGoldSoapOut">
    <wsdl:part name="parameters" element="tns:DoSearchBuyBookGoldResponse" />
  </wsdl:message>
  <wsdl:message name="DoSearchBuyBookSpecialSoapIn">
    <wsdl:part name="parameters" element="tns:DoSearchBuyBookSpecial" />
  </wsdl:message>
  <wsdl:message name="DoSearchBuyBookSpecialSoapOut">
    <wsdl:part name="parameters" element="tns:DoSearchBuyBookSpecialResponse" />
  </wsdl:message>
  <wsdl:message name="DoSearchProductSoapIn">
    <wsdl:part name="parameters" element="tns:DoSearchProduct" />
  </wsdl:message>
  <wsdl:message name="DoSearchProductSoapOut">
    <wsdl:part name="parameters" element="tns:DoSearchProductResponse" />
  </wsdl:message>
  <wsdl:portType name="Service3Soap">
    <wsdl:operation name="DoSearchCustomer">
      <wsdl:input message="tns:DoSearchCustomerSoapIn" />
      <wsdl:output message="tns:DoSearchCustomerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DoSearchUser">
      <wsdl:input message="tns:DoSearchUserSoapIn" />
      <wsdl:output message="tns:DoSearchUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DoSearchSeller">
      <wsdl:input message="tns:DoSearchSellerSoapIn" />
      <wsdl:output message="tns:DoSearchSellerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DoSearchBuyBookDiamondCer">
      <wsdl:input message="tns:DoSearchBuyBookDiamondCerSoapIn" />
      <wsdl:output message="tns:DoSearchBuyBookDiamondCerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DoSearchGemstoneCer">
      <wsdl:input message="tns:DoSearchGemstoneCerSoapIn" />
      <wsdl:output message="tns:DoSearchGemstoneCerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DoSearchBuyBookDiamond">
      <wsdl:input message="tns:DoSearchBuyBookDiamondSoapIn" />
      <wsdl:output message="tns:DoSearchBuyBookDiamondSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DoSearchBuyBookGemstone">
      <wsdl:input message="tns:DoSearchBuyBookGemstoneSoapIn" />
      <wsdl:output message="tns:DoSearchBuyBookGemstoneSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DoSearchBuyBookGold">
      <wsdl:input message="tns:DoSearchBuyBookGoldSoapIn" />
      <wsdl:output message="tns:DoSearchBuyBookGoldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DoSearchBuyBookSpecial">
      <wsdl:input message="tns:DoSearchBuyBookSpecialSoapIn" />
      <wsdl:output message="tns:DoSearchBuyBookSpecialSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DoSearchProduct">
      <wsdl:input message="tns:DoSearchProductSoapIn" />
      <wsdl:output message="tns:DoSearchProductSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service3Soap" type="tns:Service3Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoSearchCustomer">
      <soap:operation soapAction="http://tempuri.org/DoSearchCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoSearchUser">
      <soap:operation soapAction="http://tempuri.org/DoSearchUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoSearchSeller">
      <soap:operation soapAction="http://tempuri.org/DoSearchSeller" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoSearchBuyBookDiamondCer">
      <soap:operation soapAction="http://tempuri.org/DoSearchBuyBookDiamondCer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoSearchGemstoneCer">
      <soap:operation soapAction="http://tempuri.org/DoSearchGemstoneCer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoSearchBuyBookDiamond">
      <soap:operation soapAction="http://tempuri.org/DoSearchBuyBookDiamond" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoSearchBuyBookGemstone">
      <soap:operation soapAction="http://tempuri.org/DoSearchBuyBookGemstone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoSearchBuyBookGold">
      <soap:operation soapAction="http://tempuri.org/DoSearchBuyBookGold" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoSearchBuyBookSpecial">
      <soap:operation soapAction="http://tempuri.org/DoSearchBuyBookSpecial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoSearchProduct">
      <soap:operation soapAction="http://tempuri.org/DoSearchProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service3Soap12" type="tns:Service3Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoSearchCustomer">
      <soap12:operation soapAction="http://tempuri.org/DoSearchCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoSearchUser">
      <soap12:operation soapAction="http://tempuri.org/DoSearchUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoSearchSeller">
      <soap12:operation soapAction="http://tempuri.org/DoSearchSeller" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoSearchBuyBookDiamondCer">
      <soap12:operation soapAction="http://tempuri.org/DoSearchBuyBookDiamondCer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoSearchGemstoneCer">
      <soap12:operation soapAction="http://tempuri.org/DoSearchGemstoneCer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoSearchBuyBookDiamond">
      <soap12:operation soapAction="http://tempuri.org/DoSearchBuyBookDiamond" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoSearchBuyBookGemstone">
      <soap12:operation soapAction="http://tempuri.org/DoSearchBuyBookGemstone" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoSearchBuyBookGold">
      <soap12:operation soapAction="http://tempuri.org/DoSearchBuyBookGold" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoSearchBuyBookSpecial">
      <soap12:operation soapAction="http://tempuri.org/DoSearchBuyBookSpecial" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoSearchProduct">
      <soap12:operation soapAction="http://tempuri.org/DoSearchProduct" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service3">
    <wsdl:port name="Service3Soap" binding="tns:Service3Soap">
      <soap:address location="http://localhost:7777/DiamondService/Service3.asmx" />
    </wsdl:port>
    <wsdl:port name="Service3Soap12" binding="tns:Service3Soap12">
      <soap12:address location="http://localhost:7777/DiamondService/Service3.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>